{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <div class="w-4/5 my-4">
        <div class="grid grid-cols-4 gap-4">
            <div class="relative block rounded-sm border-t-4 border-pink-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.quartz }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    SAINT QUARTZ
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
            <div class="relative block rounded-sm border-t-4 border-pink-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.manaPrism }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    MANA PRISM
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
            <div class="relative block rounded-sm border-t-4 border-pink-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.purePrism }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    PURE PRISM
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
            <div class="relative block rounded-sm border-t-4 border-pink-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.rarePrism }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    RARE PRISM
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
            <div class="relative block rounded-sm border-t-4 border-pink-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.bronzeApple }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    BRONZE APPLES
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
            <div class="relative block rounded-sm border-t-4 border-pink-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.silverApple }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    SILVER APPLES
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
            <div class="relative block rounded-sm border-t-4 border-yellow-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.goldenApple }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    GOLDEN APPLES
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
            <div class="relative block rounded-sm border-t-4 border-blue-600 p-8 pb-24 shadow-xl bg-gray-800">
                <h3 class="text-4xl font-bold text-white">{{ userInfo.blueApple }}</h3>
                <p class="mt-4 text-lg font-medium text-gray-500">
                    BLUE APPLES
                </p>
                <span class="absolute bottom-8 right-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </span>
            </div>
        </div>
        <div class="bg-gray-800 mt-4 flex justify-center rounded shadow-lg p-4">
            <div class="w-4/5 h-full">
                {{ render_chart(chart, {'class': 'h-60'}) }}
            </div>

        </div>

    </div>
{% endblock %}
